/* FONTS */
    /* 
    font-family: 'Poiret One', cursive;
    font-family: 'Ysabeau Infant', sans-serif; 
    */

/* COLOURS:*/
    /*
    header background: #394A59 
    footer background: #394A59 
    body background: #74818c
    Font colour: white
    Font colour - About text: #252b30
    */

/* ****** GLOBAL STYLES ****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: #b4bbbf;
    background-image: url(./images/overlayDiagonal.png);
    background-repeat: no-repeat;
    background-size: cover;
}




/* ***-------*** HEADER STYLES ***-------*** */
#headerContainer {
    background-color: #74818c;
    box-shadow: 0rem .2rem .3rem #394a59;
    width: 100%;
    display: flex;
    justify-content: center;
}
header {
    width: 80%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
h1 {
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    margin: auto 0;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
h1 a, 
.navigation li a {
    text-decoration: none;
    color: white;
}
.navigation {
    width: 19rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .4rem;
}
.navigation li {
    list-style: none;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.4rem;
    display: inline-block;
    position: relative;
    color: white;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

    /* Hover Animation */
    .navigation li:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.28s ease-out;
    }
    .navigation li:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    /* &&&&&&&&*******MEDIA QUERIES - HEADER********&&&&&&&& */

@media only screen and (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    .navigation {
        margin-bottom: .2rem;
    }
}
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 1.7rem;
    }
    header {
        height: 7rem;
    }
    .navigation li {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 350px) {
    .navigation {
        justify-content: center;
        gap: 2.7rem;
        width: 17rem;
    }
}
@media only screen and (max-width: 330px) {
    .navigation {
        justify-content: center;
        gap: 2.3rem;
        width: 15rem;
    }
}
@media only screen and (max-width: 270px) {
    .navigation {
        gap: 1.5rem;
        width: 14rem;
    }
}


/* ***-------*** INDEX PAGE BODY ***-------*** */
/* ****** DISPLAY GRID STYLES ****** */
#cardContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 3rem 3rem;
    justify-items: center;
    width: 80%;
    height: 75%;
}
.card {
    justify-self: center;
    width: 100%;
    background-color: #b4bbbf;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: .3rem .3rem .5rem #394a59;
    position: relative;
    border: 2px solid aliceblue;
    scale: 1;
}
.card:active {
    box-shadow: none;
    scale: 0.99;
}
.overlay {
    width: 101%;
    height: 102%;
    background-color: #949fa6;
    border-radius: 10px;
    position: absolute;
    top: -1.6px;
    left: -1.6px;
    border: 2px solid #b4bbbf;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;            
    transition: .5s ease;
}
.overlay p {
    padding: 1.3rem 1.5rem;
    color: white;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    line-height: 2rem;
}
.card:hover .overlay {
    opacity: 1;
}
.cardName {
    position: absolute;
    bottom: 0.8rem;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Ysabeau Infant', sans-serif; 
    color: #394a59;
    background-color: aliceblue;
    font-size: 1.7rem;
    text-align: center;
    box-shadow: 0px -2px 4px #394a59, 0px 3px 4px #394a59;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.italicText {
    font-style: italic;
}
.one {
    background-image: url(./images/terriblTarot.jpg);
}
.two {
    background-image: url(./images/DragADoodle.jpg); 
}
.three {
    background-image: url(./images/RockPaperScissors03.jpg);
}


/* &&&&&&&&*******MEDIA QUERIES - INDEX PAGE BODY********&&&&&&&& */

@media only screen and (max-width: 1240px) {
    .overlay p {
        line-height: 1.7rem;
        font-size: 1.2rem;
    }
    .overlay {
        align-items: flex-start;
        overflow: auto;
    }
    .overlay::-webkit-scrollbar {
        width: 12px;             
      }
      
      .overlay::-webkit-scrollbar-track {
        background: #949fa6;      
        border-radius: 20px 20px 20px 0;
      }
      
      .overlay::-webkit-scrollbar-thumb {
        background-color: #394a59;    
        border-radius: 20px;      
        border: 3px solid #949fa6;  
      }
}
@media only screen and (max-width: 1450px) {
    .overlay p {
        line-height: 1.8rem;
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 800px) {
    #cardContainer {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        gap: 3rem 3rem;
    }
}
@media only screen and (max-width: 430px) {
    #cardContainer {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(9, auto);
        gap: 2rem 2rem;
    }
}
@media only screen and (max-width: 302px) {
    .cardName {
        display: none;
    }
}


/* ***-------*** FOOTER STYLES ***-------*** */
#footerContainer {
    width: 100%;
    background-color: #74818c;
    display: flex;
    justify-content: center;
}
footer {
    width: 80%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer p {
    font-family: 'Ysabeau Infant', sans-serif;
    color: white;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}
footer span {
    font-style: italic;
    font-weight: 550;
}
.socialLinks {
    display: flex;
    gap: 2rem;
}
.socialLinks a {
    display: flex;
}
.socialLinks img {
    filter: invert(100%);
    width: 2.5rem;
}
.socialLinks img:hover {
    scale: 1.1;
    transition: scale 500ms;
    cursor: pointer;
    filter: invert(25%) sepia(25%) saturate(575%) hue-rotate(166deg) brightness(93%) contrast(85%);
}


/* &&&&&&&&*******MEDIA QUERIES - FOOTER********&&&&&&&& */
@media only screen and (max-width: 550px) {
    #footerContainer {
        height: 5.5rem;
    }
    footer {
        flex-direction: column-reverse;
        height: 100%;
        justify-content: center;
        gap: .5rem;
    }
}
@media only screen and (max-width: 350px) {
    footer p {
        font-size: .8rem;
    }
}



/* ***-------*** ABOUT PAGE BODY ***-------*** */
#textContainer {
    width: 80%;
    height: 55.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    max-width: 1250px;
}
.textBox {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.3rem; 
    line-height: 2.6rem;
    color: #252b30;
    background-color: aliceblue;
    box-shadow: .3rem .3rem .5rem #394a59;
    border-radius: 10px;
    height: 100%;
    max-width: 500px;
    padding: 1.5rem;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.textBox::-webkit-scrollbar {
    width: 12px;              
}
.textBox::-webkit-scrollbar-track {
    background: aliceblue;        
    border-radius: 20px 20px 20px 0;
}
.textBox::-webkit-scrollbar-thumb {
    background-color: #74818c;    
    border-radius: 20px;      
    border: 3px solid aliceblue;  
}
.textBox a {
    text-decoration: none;
    color: #252b30;
    font-weight: 500;
    position: relative;
}
.textBox a::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #74818c;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.28s ease-out;
}
.textBox a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.textPortrait {
    border: 1.3rem solid aliceblue;
    box-shadow: .3rem .3rem .5rem #394a59;
    pointer-events: none;
    border-radius: 10px;
    height: 100%;
    justify-self: flex-end;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
h3 {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.3rem; 
    line-height: 2.6rem;
}
.skillsListContainer {
    margin: 1rem 0;
}
.skillsList li {
    background: url('./images/tickMedium.png') no-repeat left center;
    background-size: 20px;
    padding: 5px 10px 5px 40px;
    list-style: none;
    margin: 0 1rem 0;
    vertical-align: middle;
}

/* &&&&&&&&*******MEDIA QUERIES - ABOUT********&&&&&&&& */
@media only screen and (max-width: 1260px) {
    .textPortrait {
        height: 90%;
        align-self: flex-start;
    }
    .textBox {
        justify-content: flex-start;
    }
}
@media only screen and (max-width: 1200px) {
    .textPortrait {
        height: 80%;
        border: 1.1rem solid aliceblue;
    }
    #textContainer {
        height: 60%;
    }
}
@media only screen and (max-width: 1140px) {
    .textPortrait {
        height: 70%;
    }
}
@media only screen and (max-width: 1080px) {
    .textPortrait {
        height: 60%;
    }
}
@media only screen and (max-width: 1020px) {
    .textPortrait {
        height: 50%;
        border: .9rem solid aliceblue;
    }
}
@media only screen and (max-width: 950px) {
    .textPortrait {
        height: 40%;
        border: .8rem solid aliceblue;
    }
}
@media only screen and (max-width: 885px) {
    #textContainer {
        height: 65%;
    }
    .textPortrait {
        height: 35%;
    }
}
@media only screen and (max-width: 810px) {
    #textContainer {
        height: 70%;
    }
    .textPortrait {
        height: 30%;
    }
}
@media only screen and (max-width: 810px) {
    #textContainer {
        height: 75%;
    }
}
@media only screen and (max-width: 750px) {
    .textPortrait {
        height: 25%;
    }
    #textContainer {
        gap: 2rem;
    }
    .textBox {
        font-size: 1.3rem; 
        line-height: 2.4rem;
    }
    h3 {
        font-size: 1.2rem; 
        line-height: 2.4rem;
    }
}
@media only screen and (max-width: 685px) {
    .textBox {
        font-size: 1.2rem; 
    }
}
@media only screen and (max-width: 660px) {
    .textPortrait {
        height: 20%;
        border: .6rem solid aliceblue;
    }
}
@media only screen and (max-width: 620px) {
    .textPortrait {
        display: none;
    }
    #textContainer {
        height: 60%;
    }
}
@media only screen and (max-width: 530px) {
    #textContainer {
        height: 66%;
    }
}
@media only screen and (max-width: 460px) {
    #textContainer {
        height: 71%;
    }
    .textBox {
        padding: 1.2rem;
    }
}
@media only screen and (max-width: 408px) {
    #textContainer {
        height: 76%;
    }
}
@media only screen and (max-width: 470px){
    .textBox {
        overflow: auto;
    }
    .textBox::-webkit-scrollbar {
        width: 12px;              
    }
    .textBox::-webkit-scrollbar-track {
        background: aliceblue;        
        border-radius: 20px 20px 20px 0;
    }
    .textBox::-webkit-scrollbar-thumb {
        background-color: #74818c;    
        border-radius: 20px;      
        border: 3px solid aliceblue;  
    }
}




/* ***-------*** CONTACT PAGE BODY ***-------*** */

#popUpContainer {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 30rem;
    height: 30rem;
    background-color: #74818c;
    box-shadow: .3rem .3rem .5rem #394a59;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}
.contactHeading {
    font-family: 'Poiret One', cursive;
    letter-spacing: 1.5px;
    font-size: 1.9rem;
    text-align: center;
    color: #252b30;
    background-color: aliceblue;
    padding: 0.5rem;
    box-shadow: 0px -2px 4px #394a59, 0px 3px 4px #394a59;
    width: 96.5%;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.contactLinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 55%;
}
.contactLinks a {
    border: none;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    height: 51px;
}

.contactLinks img {
    filter: invert(94%) sepia(5%) saturate(5356%) hue-rotate(304deg) brightness(111%) contrast(75%);
}
.socialLinksPopUp {
    filter: invert(100%);
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.socialLinksPopUp a:hover {
    filter: invert(94%) sepia(5%) saturate(5356%) hue-rotate(304deg) brightness(111%) contrast(75%);
}
.contactLinks a:hover {
    color: #DFBC9F;
    font-weight: 600;
    background-color: #0F0700;
    box-shadow: 0px -2px 4px #DFBC9F, 0px 3px 4px #DFBC9F;
    border-radius: 10px;
    filter: invert(100%);
}
#contactPageCenter {
    margin: 0 auto;
}


/* &&&&&&&&*******MEDIA QUERIES - CONTACT********&&&&&&&& */
@media only screen and (max-width: 560px) {
    #popUpContainer {
        width: 25rem;
    }
}
@media only screen and (max-width: 450px) {
    #popUpContainer {
        width: 20rem;
    }
    .contactLinks {
        width: 65%;
    }
    .socialLinksPopUp {
        width: 65%;
    }
}
@media only screen and (max-width: 375px) {
    #popUpContainer {
        width: 15rem;
    }
    .contactLinks {
        width: 100%;
    }
    .socialLinksPopUp {
        width: 100%;
        padding: 0 1rem;
    }
}
@media only screen and (max-width: 250px) {
    #popUpContainer {
        width: 12rem;
    }
    .contactLinks a{
        gap: .5rem;
    }
    .socialLinksPopUp {
        width: 100%;
        padding: 0 .5rem;
        justify-content: space-around;
    }
    .socialLinksPopUp img {
        width: 40px;
    }
}
