/* FONTS */
    /* 
    font-family: 'Poiret One', cursive;
    font-family: 'Ysabeau Infant', sans-serif; 
    */

/* COLOURS:*/
    /*
    header background: #394A59 
    footer background: #394A59 
    body background: #74818c
    Font colour: white
    Font colour - About text: #252b30
    */

/* ****** GLOBAL STYLES ****** */
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #b4bbbf;
    background-image: url(./images/overlayDiagonal.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ****** HEADER STYLES ****** */
#headerContainer {
    background-color: #74818c;
    box-shadow: 0rem .2rem .3rem #394a59;
    width: 100%;
    display: flex;
    justify-content: center;
}
header {
    width: 80%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
h1 {
    /* border: 1px solid red; */
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    margin: auto 0;
}
h1 a, 
.navigation li a {
    text-decoration: none;
    color: white;
}
.navigation {
    /* border: 1px solid red; */
    width: 19rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .4rem;
}
.navigation li {
    /* border: 1px solid green; */
    list-style: none;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.4rem;
    display: inline-block;
    position: relative;
    color: white;
}

    /* Hover Animation */
    .navigation li:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.28s ease-out;
    }
    .navigation li:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

/* ****** INDEX PAGE BODY ****** */
/* ****** DISPLAY GRID STYLES ****** */
#cardContainer {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 3rem 3rem;
    justify-items: center;
    width: 80%;
    height: 75%;
}
.card {
    justify-self: center;
    width: 100%;
    background-color: #b4bbbf;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: .3rem .3rem .5rem #394a59;
    position: relative;
    border: 2px solid aliceblue;
}

.overlay {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    background-color: #949fa6;
    border-radius: 10px;
    box-shadow: .3rem .3rem .5rem #394a59;
    position: absolute;
    top: -1.6px;
    left: -1.6px;
    border: 2px solid #b4bbbf;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s ease;
}
.overlay p {
    border: 1px solid red;
    padding: 1.3rem 1rem;
}
.card:hover .overlay {
    opacity: 1;
}
.cardName {
    /* border: 1px solid green; */
    position: absolute;
    bottom: 0.8rem;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Ysabeau Infant', sans-serif; 
    color: #394a59;
    background-color: aliceblue;
    font-size: 1.7rem;
    text-align: center;
    box-shadow: 0px -2px 4px #394a59, 0px 3px 4px #394a59;
}
.one {
    background-image: url(./images/terriblTarot.jpg);
}
.two {
    background-image: url(./images/DragADoodle.jpg); 
}
.three {
    background-image: url(./images/RockPaperScissors03.jpg);
}



/* ****** FOOTER STYLES ****** */
#footerContainer {
    width: 100%;
    background-color: #74818c;
    display: flex;
    justify-content: center;
}
footer {
    width: 80%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer p {
    /* border: 1px solid green; */
    font-family: 'Ysabeau Infant', sans-serif;
    color: white;
}
footer span {
    font-style: italic;
    font-weight: 550;
}
.socialLinks {
    /* border: 1px solid red; */
    display: flex;
    gap: 2rem;
}
.socialLinks a {
    /* border: 1px solid green; */
    display: flex;
}
.socialLinks img {
    filter: invert(100%);
    width: 2.5rem;
}
.socialLinks img:hover {
    scale: 1.1;
    transition: scale 500ms;
    cursor: pointer;
    filter: invert(25%) sepia(25%) saturate(575%) hue-rotate(166deg) brightness(93%) contrast(85%);
}



/* ****** ABOUT PAGE BODY ****** */
#textContainer {
    /* border: 1px solid red; */
    width: 60%;
    height: 55.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    max-width: 1250px;
}
.textBox {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.3rem; 
    color: #252b30;
    background-color: aliceblue;
    box-shadow: .3rem .3rem .5rem #394a59;
    border-radius: 10px;
    height: 91.2%;
    max-width: 720px;
    padding: 2rem;
}
.textPortrait {
    border: 1.3rem solid aliceblue;
    box-shadow: .3rem .3rem .5rem #394a59;
    pointer-events: none;
    border-radius: 10px;
    height: 94.5%;
    justify-self: flex-end;
}



/* ****** CONTACT PAGE BODY ****** */

/* #overlay{
    position: absolute;
    top: 6rem;
    bottom: 4.5rem;
    left: 0;
    right: 0;
    background-image: url(./images/overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
} */
#popUpContainer {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 30rem;
    height: 30rem;
    background-color: #74818c;
    box-shadow: .3rem .3rem .5rem #394a59;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}
#closeBtn {
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    right: 0;
    padding: .2rem .7rem;
    font-size: 2rem;
    cursor: pointer;
    color: #252b30;
    font-weight: 700;
}
#closeBtn:hover {
    color: aliceblue;
}
.contactHeading {
    /* border: 1px solid rebeccapurple; */
    font-family: 'Poiret One', cursive;
    letter-spacing: 1.5px;
    font-size: 1.9rem;
    text-align: center;
    color: #252b30;
    background-color: aliceblue;
    padding: 0.5rem;
    box-shadow: 0px -2px 4px #394a59, 0px 3px 4px #394a59;
    width: 96.5%;
}
.contactLinks {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 55%;
}
.contactLinks a {
    border: none;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.contactLinks img {
    filter: invert(94%) sepia(5%) saturate(5356%) hue-rotate(304deg) brightness(111%) contrast(75%);
}
.socialLinksPopUp {
    /* border: 1px solid rebeccapurple; */
    filter: invert(100%);
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.socialLinksPopUp a:hover {
    filter: invert(94%) sepia(5%) saturate(5356%) hue-rotate(304deg) brightness(111%) contrast(75%);
}
.contactLinks a:hover {
    color: #DFBC9F;
    font-weight: 600;
    background-color: #0F0700;
    box-shadow: 0px -2px 4px #DFBC9F, 0px 3px 4px #DFBC9F;
    border-radius: 10px;
    filter: invert(100%);
}
#contactPageCenter {
    margin: 0 auto;
}



